.feature .header {
  margin-bottom: 24px;
  background-color: white;
  border-radius: 8px;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.feature .header .categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.feature .header .categories .category {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--gray-color);
  cursor: pointer;
  transition: color .2s;
}

.feature .header .categories .category:hover {
  color: black;
}

.header .categories span {
  display: inline-block;
  width: 8px;
  height: 8px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--gray-color);
}

.header .categories .category.active {
  color: black;
}

.header .categories .category.active span {
  background-color: var(--main-color);
}

.feature .header a:hover {
  color: var(--main-color);
}

.feature .card {
  /* width: calc((100% - (12px * 4))/ 5); */
  padding: 22px 12px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.feature .card .control {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  /* backdrop-filter: blur(5px); */
  padding: 8px 12px;
  border-radius: 8px;
  background-color: rgba(146, 148, 159, 0.5);
  color: white;
  position: absolute;
  right: -50px;
  transition: right .3s;
}

.feature .card .control i {
  transition: color .2s, transform .2s;
}

.feature .card .control i:hover {
  color: var(--red-color);
  transform: scale(1.2);
}

.feature .card:hover .control {
  right: 15px;
}

.feature .card .discount {
  padding: 6px 12px;
  /* width: fit-content; */
  background-color: var(--red-color);
  position: absolute;
  border-radius: 4px;
  color: white;
}

.feature .image {
  padding: 8px 0;
}

.feature img {
  width: 100%;
  height: auto;
}

.feature .info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.feature .info .title a {
  font-size: 18px;
  color: var(--main-color);
  font-weight: 600;
}

.feature .info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--gray-color);
}

.feature .info .rating {
  display: flex;
  align-items: center;
  gap: 12px;
}

.feature .info .rating .stars {
  color: var(--red-color);
  font-size: 10px;
}

.feature .info .price {
  display: flex;
  align-items: center;
  gap: 12px;
}

.feature .info .price .old-price {
  text-decoration: line-through;
  color: var(--gray-color);
}

.feature .special {
  background-image: url('../images/imgi_196_Banner.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding: 12px 18px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: white;
  text-align: center;
}

.feature .special img {
  transition: transform .3s;
}

.feature .special img:hover {
  transform: scale(0.9);
}