.recommended .header {
  margin: 24px 0;
  background-color: white;
  border-radius: 8px;
  padding: 18px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recommended .header a {
  color: black;
  display: flex;
  gap: 8px;
  align-items: center;
  transition: color .2s;
}

.recommended .header a:hover {
  color: var(--main-color);
}

.recommended .cards {
  display: flex;

  gap: 12px;
  /* align-items: center; */
  flex-wrap: wrap;
}

.recommended .cards .card {
  /* width: calc((100% - (12px * 4))/ 5); */
  padding: 22px 12px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.recommended .card .control {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  /* backdrop-filter: blur(5px); */
  padding: 8px 12px;
  border-radius: 8px;
  background-color: rgba(146, 148, 159, 0.5);
  color: white;
  position: absolute;
  right: -50px;
  transition: right .3s;
}

.recommended .card .control i {
  transition: color .2s, transform .2s;
}

.recommended .card .control i:hover {
  color: var(--red-color);
  transform: scale(1.2);
}

.recommended .cards .card:hover .control {
  right: 15px;
}

.recommended .cards .card .discount {
  padding: 6px 12px;
  /* width: fit-content; */
  background-color: var(--red-color);
  position: absolute;
  border-radius: 4px;
  color: white;
}

.recommended .cards .image {
  padding: 8px 0;
}

.recommended img {
  width: 100%;
  height: auto;
}

.recommended .cards .info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.recommended .cards .info .title a {
  font-size: 18px;
  color: var(--main-color);
  font-weight: 600;
}

.recommended .cards .info .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recommended .cards .info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--gray-color);
}

.recommended .cards .info .rating {
  display: flex;
  align-items: center;
  gap: 12px;
}

.recommended .cards .info .rating .stars {
  color: var(--red-color);
  font-size: 10px;
}

.recommended .cards .info .price {
  display: flex;
  align-items: center;
  gap: 12px;
}

.recommended .cards .info .price .old-price {
  text-decoration: line-through;
  color: var(--gray-color);
}

.recommended .cards .info button {
  padding: 12px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  transition: color .2s, background-color .2s;
  outline: none;
  cursor: pointer;
}


.recommended .cards .info button:hover {
  background-color: var(--main-color);
  color: white;
}