.testemonial2 .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
} 


.testemonial2 .image {
    width: 36px;
    height: 36px;
    aspect-ratio: 1 / 1;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0c0c0d;
    margin: auto 0;
}
 
.testemonial2 .info {
    text-align: center;
}