.testemonial2 {
  border-bottom: 1px solid rgba(146, 148, 159, 0.5);
}


.testemonial2 .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}


.testemonial2 .icon {
  width: 36px;
  height: 36px;
  aspect-ratio: 1 / 1;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #006937;
  margin: auto 0;
  /* color: #006937; */
  border-radius: 4px;
}

.testemonial2 .info {
  text-align: center;
}

.testemonial2 .info p {
  color: #92949F;
}